*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    scroll-behavior: smooth;
    transition: all linear .25s;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg, #080808c7, #3a4452);
}
.calculator{
    border: 1px solid #717377;
    padding: 20px;
    border-radius: 16px;
    background: transparent;
    box-shadow: 0px 3px 15px rgba(113, 115, 119, .5);
}
input{
    width: 100%;
    border: none;
    padding: 24px;
    margin: 10px;
    background: transparent;
    font-size: 40px;
    text-align: right;
    cursor: pointer;
}
input::placeholder{
    color: #ffffff;
}
button{
    border: none;
    width: 70px;
    height: 70px;
    margin: 10px;
    border-radius: 50%;
    background: transparent;
    color: #ffffff;
    font-size: 20px;
    box-shadow : -2px -2px 15px rgba(255, 255, 255, .1);
    cursor: pointer;
}
button:hover{
    box-shadow: 0px 3px 15px rgba(113, 115, 119, .5);
}
button:active{
    background-color: #0a0a0a;
    color: rgb(177, 124, 27);
}
.equalBtn,
.operator:hover{
    box-shadow: 0px 3px 15px rgba(102, 138, 73, 0.3);
}
.equalBtn{
    background-color: #fb7c14;
}
.operator{
    color: #6dee0a;
}